# generated binaries
Distribution/oscam-*
Distribution/list_smargo-*

# backup/swap file for vi
*~
*.swp

# build directories
/build/

# Currently enabled config items
webif/is_defined.txt

# Testing program
tests.bin
tests.bin.debug
