/* ================================= GENERALY CSS SETTINGS ================================= */
/* ******** 1. RESET  */
* {margin:0;padding:0}

/* ******** 2. BASIC DIVISION PAGES */
html,body,* html #wrapper {height:100%}
#wrapper {position:relative;min-height:100%}
#content {margin-bottom:0;padding:0 8px 150px}
#footer {position:absolute;bottom:0;width:100%}

/* ******** 3. BASIC SETTINGS */

/* Set default font and text align 
 * Color setting in COLOR section
 */
body {
	font-family:Arial;
	font-size:11px;
	text-align:center
}

/* Large red text in shutdown.html, autoconf.html 
 * Color setting in COLOR section
 */
p.text-large-red {
	font-weight:700;
	font-size:large
}
/* in file.html, script.html */
#filename {
	font-weight:700;
	font-size:14px;
	margin: 10px 0
}

/* in readerstats.html for P */
#text_totalecm {}

/* in footer.html */
p.styleauthor:after {content:"Streamboard Team"}

/* in pre_shutdown.html */
h4 {
	font-size:18px;
	line-height:9px;
	margin-top:20px;
	margin-bottom:20px
}

/* ******** 4. LINKS */

/* in status_sdebug.html */
a.debugl:link {
	margin:0 1px
}

/* in module-webif.c for debug selection in STATUS item and FILES item -> part logfile */
a.debugls:link {
	padding:1px 2px 2px
}

/* Tooltip in cccamentitletooltip.html, foundentitlements.html, noentitlements.html and module-webif.c */
a.tooltip,
a.tooltip1 {
	position:relative;
	text-decoration:none;
	cursor:default
}
a.tooltip span,
a.tooltip1 span {
	display:none;
	z-index:99
}
a:hover span {
	display:block;
	position:absolute;
	top:1em;
	right:2em;
	padding:4px;
	font-weight:normal;
	text-align:left
}

/* ******** 5. MAIN MENU */

/* ID are for creating main menu in menu.html */
#main {}
#mainmenu {
	height:30px;
	padding-top:10px
}
#mainmenu li {
	display:inline;
	margin-left:2px;
	margin-right:2px;
	padding:5px 3px 3px;
	font-size:18px;
	font-weight:700
}

/* ******** 6. SUBNAV */

/* ID are for creating subnavigation menu in 
 * cacheex.html, config\menu.html, entitlements.html, failban.html,
 * files\menu.html, readerconfig.html, readers.html, readerstats.html, script.html, 
 * services.html, services_edit.html, status.html, user_edit.html, userconfig.html */
#subnav {}
#nav {
	height:20px;
}
#nav li {
	display:inline;
	margin-left:2px;
	margin-right:2px;
	padding:5px 3px 3px;
	padding-top:0;
	padding-bottom:0;
	font-size:14px
}

/* ******** 7. TABLE */
table#datatable.stats.upspace thead tr{cursor:pointer}
table.cacheex, table#dataTable.stats{width:80%}
table.cacheex{}
table{border-spacing:1px;margin-left:auto;margin-right:auto}
table.menu{border-spacing:0}
table.status{width:100%;empty-cells:show}
table.config{width:60%}
table.configreader{width:850px}
table.readers{width:100%}
table.statsbalance td:last-child{line-height:20px;width:125px}
table.statsbalance td:last-child img.icon{float:right;margin-left:10px}
table.invisibleser{margin-left:0;width:100%}
table.invisiblelb{border-spacing:0;width:100%}
table.invisiblelb th{width:33%;text-align:left}
table.invisiblelb td{width:33%;font-size:12px;white-space:nowrap}
table.invisibleservices{margin-left:0;width:80%}
table.invisible{margin-left:0}
table.invisible td, table.invisibleser td, table.invisibleservices td, textarea.bt{font-size:12px}
table.configmenu{line-height:16px}
table.users{width:100%}
table.ecm_totals{margin-top:10px}
table.invisible td:first-child{padding-left:0}
table.statusmeminfo, table.statususerinfo, table.statuscacheexinfo, table#cachexstats{width:60%;white-space:no-wrap;margin-top:0px;margin-bottom:0px}
table#dataTable.readers thead tr, table#dataTable.stats.upspace thead tr{cursor:pointer}
table.ECM_totals,table.user_totals{width:50%}
table.newservice,table#servicesedit.stats{width:35%;text-align:center}
table#servicesedit.stats tbody tr td{text-align:center}
table.newservice{margin-top:5px}

/* ******** 8. TABLE TR */
tr.e_valid td, tr.e_expired td, tr.e_header td{font-family:"Courier New", monospace}

/* ******** 9. TABLE TH */
th{height:10px;padding:5px}
th.nameinfo{text-transform:uppercase;text-align:left}
th.statuscol0, td.statuscol0{text-align:center;width:10px}
th.statuscol1, th.statuscol2, th.statuscol3, th.statuscol4, th.statuscol5, th.statuscol6, th.statuscol7, th.statuscol8, th.statuscol9, th.statuscol10, th.statuscol11, th.statuscol12, th.statuscol13, th.statuscol14, th.statuscol15, th.statuscol16, td.centered, td.statuscol1, td.statuscol2, td.statuscol3,td.statuscol5,td.statuscol6,td.statuscol7,td.statuscol8,td.statuscol10,td.statuscol11,td.statuscol12,td.statuscol14,td.statuscol15,td.statuscol16,td.usercol0,td.usercol2,td.usercol3,td.usercol4,td.usercol5,td.usercol6,td.usercol7,td.usercol8,td.usercol9,td.usercol10,td.usercol11,td.usercol12,td.usercol13,td.usercol14,td.usercol15,td.usercol16,td.usercol17,td.usercol18,td.usercol19,td.usercol20,td.usercol21,td.usercol22,td.usercol23,td.usercol24,td.usercol25{text-align:center}
th.statuscol0, td.statuscol1{width:0}
table#subservicetable.subservicetable{width:100%;background:#FFF}
table#subservicetable.subservicetable tbody tr td.servicescol1,
table#subservicetable.subservicetable tbody tr td.servicescol2,
table#subservicetable.subservicetable tbody tr td.servicescol3{width:30%;border:0;border-spacing:1px}

/* ******** 10. TABLE TD */
td{height:10px;text-align:left;padding:5px}
td.centered div{margin:auto}
td.menu, td.configmenu, td.menu_selected, td.configmenu_selected{font-size:14px;font-weight:700}
td.subheadline{height:10px;border:0;padding:5px}
td.statuscol4, td.statuscol4 a, td.statuscol9, td.statuscol9 a, td.statuscol13, td.statuscol13 a, td.usercol1, .span, span, span a{text-align:center;text-decoration:none}
td.subheadline input{float:right;border-width:0;font-size:12px;margin-left:5px;margin-right:5px;padding:0}
td.subheadline form select{width:100px;text-align:center;font-size:10px;padding:0}

/* ******** 11. DIV */
div#wrapper div#content form table.config{margin-bottom:20px}
div#wrapper div#content div#otherdropdown div form input,div#wrapper div#content table.ecm_totals{margin-bottom:20px}
div.log{font-family:"Courier New", monospace;text-align:left;margin:20px 0;padding:10px}
div.sidlist{font-family:"Courier New", monospace;text-align:left;padding:2px}
div.sidlistclose{float:right}
div.sidlistclose a{text-decoration:none;padding:0 3px}
div.message{font-size:12px;font-weight:700;margin:5px 0}
div.div_notifier{height:14px;width:14px;margin-left:4px;text-align:center;float:right}
div.filterform{margin:10px}
div.warning{margin:42px 0 14px}
div.logo{position:absolute;top:5px;left:5px}
div.groups{cursor:default;overflow:hidden;margin:0 auto;text-align:center;word-wrap:none;position:relative;width:40px}
div.footer{padding-bottom:5px;padding-top:5px;margin-bottom:0;margin-top:40px}
div.footer p{margin:5px}
div.info{max-width:1300px;margin:20px auto}
div.debugmenu,div.logmenu{line-height:20px}
div.cccamentitlementtotals,div.cccamentitlementcontrols{margin-top:14px}
div#newuser, div#newreader,.hidden,th#exp,td#exp.usercol20,th#cwc,td#cwc.usercol13,th#acasc,td#acasc.usercol19,td#acasc.usercol20,th#grp,td#grp.usercol5{display:none}

/* ******** 12. TEXTAREA,SELECT,INPUT */
textarea.editor{font-size:11px;width:98%;height:508px;font-family:"Courier New", monospace;text-align:left;padding:8px 10px}
select{padding:2px}
input[type=checkbox]{vertical-align:text-bottom;_vertical-align:middle;margin-right:5px}

/* ******** 13. IMAGE */
img{border:0 solid}
img.icon{border-radius:4px;border:0 solid;width:22px;height:22px;max-height:22px}
img.statususericon,img.protoicon,img.usericon,img.readericon{min-height:15px}
td#out.centered img,
td#in.centered img{margin-bottom:-2px; margin-right: 10px; margin-left: 10px}

/* ******** 14. SPAN */

/* in module-webif.c and userconfig_notify.html */
span.span_notifier {
	margin-left:2px;
	padding:1px 3px
}

/* in module-webif.c value for STATUS item ( more info in Changeset 6668 by alno )
 * Class for formating values in statusview column "Idle" 
 * In new WebIf column Idle is not used. Info about Idle is in title */
span.idlesec_normal, span.idlesec_alert {
	font-size:9px
}

/* in readerconfig_cccambit.html, user_edit_anticasc.html and user_edit_cccam.html */
span.global_conf {
	font-size:12px;
	cursor:default;
	padding:4px
}

/* in entitlements.html, readerconfig.html and user_edit.html */
span.text_entitle {
	display:inline-block;
	font-weight:700
}

/* ******** 15. GRAPH */
text.graph_error {text-anchor:middle;}
text.graph_grid_txt {text-anchor:end;style:font-size:12px;}
path.graph_grid {stroke-opacity:0.5;}

/* ******** 17. SORTING IN TABLE */

/* Classes are for sorting  */
.users th {
	font-size:11px
}
.users .head {
	background-image: url(data:image/png;base64,R0lGODlhBQAIAJEAAAAAAP///yMtMP///yH5BAEAAAMALAAAAAAFAAgAAAIL3GQnuJ2f2lLI1AIAOw==);
	background-repeat:no-repeat;
	background-position:4px center;
	cursor:pointer;
	padding-left:12px;
	padding-right:8px
}
.users .desc, .users .asc {
	background-color:#999
}
.users .desc {
	background-image: url(data:image/png;base64,R0lGODlhBQADAJEAAAAAAP///yMtMP///yH5BAEAAAMALAAAAAAFAAMAAAIFlD03K1sAOw==);
	background-repeat:no-repeat;
	background-position:4px center;
	cursor:pointer;
	padding-left:10px;
	padding-right:8px
}
.users .asc {
	background-image: url(data:image/png;base64,R0lGODlhBQADAJEAAAAAAP///yMtMP///yH5BAEAAAMALAAAAAAFAAMAAAIF3GQnuF0AOw==);
	background-repeat:no-repeat;
	background-position:4px center;
	cursor:pointer;
	padding-left:10px;
	padding-right:8px
}

/* ******** 18. Not Assigned */
html body form table.stats.upspace{margin-top:20px}
li.menu a,li.configmenu a,li.menu_selected a,li.configmenu_selected a,td.statuscol14 a,td.statuscol16 a,td.subheadline a{text-decoration:none}
.margintop {margin-top:30px}

/* ================================= COLORS ================================= */
/* BASIC SETTINGS */

body {
	background-color:#FFF;
	color:#000
}
p.text-large-red {
	color:red
}
h2, h4 {
	color:#AAA
}

/* LINKS */
a.debugls:link, a.debugls:visited {
	background-color:#A00;
	color:#FFF
}
a:hover {
	color:#FF9E5F
}
a:hover img.icon {
	background:red
}
a:hover span {
	background:#FFC;
	border:1px solid #000
}
a:link, a:visited, a:active {
	color:#050840
}

/* MAIN MENU & SUBNAV*/
#mainmenu, #nav {
	background-color:#FFF
}
li.menu:hover, li.menu_selected, 
li.configmenu:hover, li.configmenu_selected {
	background-color:#DDD
}

/* TABLE */
table.status {
	background-color:#FFF
}

/* TABLE TR */
tr.online td#lastchannel.usercol6{background-color:#949494;color:#FFF}
tr.online td{background-color:#BFA}
tr.expired td{background-color:#FBA}
tr.connected td{background-color:#FFA}
tr.disabled td:first-child img.icon,tr.disabledreader td:first-child img.icon{background-color:#0A0}
tr.a td{background-color:#3F0}
tr.c td{background-color:#F1F5E6}
tr.e_valid td{background-color:#E6FEBF}
tr.e_expired td{background-color:#FFF3E7}
tr.s td,tr.l td,tr.n td,tr.h td{background-color:#E1E1EF}
tr.r td,span.e_expired{background-color:#FFF3E7}
tr.p td,tr.scanusbsubhead td{background-color:#FDFBE1}

/* TABLE TH */
th{background-color:#CCC}
th.nameinfo{background-color:#999}

/* TABLE TD */
td{background-color:#EEE}
td.servicescol3{border-left:2px solid #CCC}
td.menu{background-color:#FFF}
td.menu_selected{background-color:#E6FEBF}
td.configmenu{background-color:#FFF}
td.configmenu_selected{background-color:#E6FEBF}
td.subheadline{background-color:#CCC}

/* DIV */
div.log{border:1px dotted #AAA;background-color:#FAFAFA;color:#666}
div.sidlist{border:1px dotted #AAA;background-color:#fffdf5;color:#666}
div.sidlistclose{background-color:red;color:#FFF}
div.sidlistclose a{color:#FFF}
div.div_notifier{background-color:red}
div.footer{background-color:#EEE;;border-top:3px solid #CCC}

/* TEXTAREA */
textarea.editor{border:1px dotted #AAA;background-color:#FAFAFA;color:#000}

/* IMAGE */
img.icon{background-color:#A00}

/* SPAN */
span.e_valid{background-color:#E6FEBF}
span.span_notifier {
	color:#FFF;background:red
}
span.idlesec_normal {}
span.idlesec_alert {
	color:red
}
span.global_conf {
	color:blue
}

/* GRAPH */
rect.graph_bg {fill:white;}
text.graph_error {fill:red;}
text.graph_grid_txt {fill:gray;}
path.graph_grid {stroke:gray;}
